In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
all_files = glob.glob(os.path.join('details_df', "*.csv"))

In [3]:
all_files[0].replace('details_df\\details_df', '').replace('.csv','')

'100_1'

In [4]:
df_out = pd.DataFrame(columns=['id', 'num_highlights', 'num_equipment', 'num_modifications', 'num_known_flaws', 'num_service_history', 
                    'num_other_items', 'num_owner_history', 'num_seller_notes', 'num_videos'])

for file in all_files:
    df = pd.read_csv(file, index_col=0)
    id = file.replace('details_df\\details_df', '').replace('.csv','')
    df_count = df.count()
    df_out.loc[len(df_out.index)] = [id, df_count[1], df_count[2], df_count[3], df_count[4], df_count[5], df_count[6], df_count[7], df_count[8], df.iloc[0,9]]

In [5]:
df_out.fillna(0, inplace=True)
df_basic = pd.read_csv('basic_df_full.csv', index_col=0)
df_basic.merge(df_out, how='left', on='id')

,id,title,subtitle,reserve,num_views,num_bids,num_com,end_bid,end_date,num_photos,...,seller_type,num_highlights,num_equipment,num_modifications,num_known_flaws,num_service_history,num_other_items,num_owner_history,num_seller_notes,num_videos
0,1_1,2012 Mercedes-Benz E63 AMG Wagon,"~38,900 Miles, P30 AMG Performance Package, Ex...",1,"17,729",16,48,"Sold for $49,500",1/6/23,All Photos (129),...,Private Party,6,13,16,4,2,10,1,2,2.0
1,1_2,1986 E-One Cyclone Pumper Fire Truck,"NO RESERVE 9.0L Turbodiesel V6, Hoses and Ladd...",0,"24,166",15,63,"Sold for $7,877",1/6/23,All Photos (125),...,Private Party,5,10,5,7,0,3,1,2,2.0
2,1_3,1996 BMW 320i Touring,"5-Speed Manual, M Sport Package, Euro-Spec E36...",1,"6,379",19,31,"Sold for $14,300",1/6/23,All Photos (99),...,Private Party,5,10,3,5,10,2,1,2,2.0
3,1_4,2021 Toyota Supra 3.0 Premium,"Turbo 6-Cylinder, Performance Modifications, D...",1,"17,963",73,82,"Sold for $52,777",1/6/23,All Photos (59),...,Private Party,5,12,16,3,3,7,1,4,1.0
4,1_5,1997 Lincoln Town Car Executive Series,"NO RESERVE ~60,400 Miles, V8 Power, Mostly Unm...",0,"8,265",29,38,"Sold for $8,800",1/6/23,All Photos (286),...,Dealer,5,16,1,7,2,3,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8400,99_46,2007 Ford F-150 Roush Nitemare,"~36,100 Miles, #42 of 100 Built, Supercharged ...",1,"10,608",7,23,"Sold for $21,000",2/10/22,All Photos (106),...,Private Party,5,5,9,10,2,11,1,0,7.0
8401,99_47,2022 Chevrolet Corvette Stingray Convertible,"~250 Miles, Z51 Performance Package, 3LT Trim,...",1,"8,290",16,38,"Sold for $108,000",2/10/22,All Photos (59),...,Private Party,5,11,0,0,0,3,1,0,3.0
8402,99_48,2008 Range Rover Supercharged Westminster,"NO RESERVE Rare Westminster Edition, Terrain R...",0,"9,409",31,40,"Sold for $11,000",2/10/22,All Photos (131),...,Dealer,6,13,3,14,5,2,1,0,4.0
8403,99_49,2004 Mazdaspeed MX-5 Miata,"~29,000 Miles, 6-Speed Manual, Unmodified",1,"7,543",21,66,"Sold for $20,750",2/10/22,All Photos (94),...,Private Party,5,13,1,5,0,5,1,0,5.0
8404,99_50,2018 Mercedes-AMG GLC 63,"Turbocharged V8 Power, AWD, $9,360 in Options,...",1,"12,210",37,15,"Sold for $63,000",2/10/22,All Photos (169),...,Private Party,5,11,0,4,2,5,1,0,4.0