In [1]:
import pandas as pd
import numpy as np

In [11]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\franc\AppData\Roaming\nltk_data...

In [4]:
df = pd.read_csv('thread_df/thread_df_88_42.csv', index_col=0)

In [5]:
df

,position,user,comment,bid,upvote,rep,seller,bidder,verified
0,1,moonvortex,Beautiful car,NaN,0\nReply\nFlag as inappropriate,Reputation Icon1,0,0,1
1,2,Saab95,"Returning to this. Like everyone suspected, it...",NaN,2\nReply\nFlag as inappropriate,Reputation Icon1k,0,0,1
2,3,ohyourthatguy,That price was a steal at $190k,NaN,2\nReply\nFlag as inappropriate,Reputation Icon159,0,0,0
3,4,knowledge1213,Although miles are high - this is a steal of a...,NaN,0\nReply\nFlag as inappropriate,Reputation Icon14,0,0,0
4,5,E30M3allday,Re: 2266juan\nNice! If you don't mind us askin...,NaN,13\nReply\nFlag as inappropriate,Reputation Icon710,0,0,0
...,...,...,...,...,...,...,...,...,...
470,471,shauto,Hey everyone im Lawrence the car has been grea...,NaN,3\nReply\nFlag as inappropriate,Reputation Icon150,1,0,0
471,472,shauto,Re: BonzoBonanza\nIs that your offer?,NaN,6\nReply\nFlag as inappropriate,Reputation Icon150,1,0,0
472,473,BonzoBonanza,The Huracan. Outstanding sports car.,NaN,1\nReply\nFlag as inappropriate,Reputation Icon571,0,0,0
473,474,mtomy,"Beautiful car, love the colour",NaN,2\nReply\nFlag as inappropriate,Reputation Icon4,0,0,0
474,475,BonzoBonanza,"200K, here we come!",NaN,2\nReply\nFlag as inappropriate,Reputation Icon571,0,0,0

In [6]:
comments = df.dropna(subset=['comment'])

In [16]:
testc = comments.iloc[0,2]
testc

'Beautiful car'

In [17]:
sia = SentimentIntensityAnalyzer()
sentiment = sia.polarity_scores(testc)

In [18]:
sentiment['compound']

0.5994